{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "bracketSpacing": false,
  "arrowParens": "always",
  "trailingComma": "none"
}